.App {
  text-align: center;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.todo-list {
  height: 50px;
  background-color: whitesmoke;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid black;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  padding: 10px;
  width: 50%;
}
.list-wrap {
  width: 50%;
}
.todo-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

@media (min-width: 720px) and (max-width: 1020px) {
  .list-wrap,
  .form-wrap {
    width: 60%;
  }
  .todo-text {
    width: 70%;
  }
}
@media (min-width: 480px) and (max-width: 720px) {
  .list-wrap,
  .form-wrap {
    width: 80%;
  }
  .todo-text {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .list-wrap,
  .form-wrap {
    width: 100%;
  }
  .todo-text {
    width: 65%;
  }
}
@media (min-width: 190px) and (max-width: 320px) {
  .list-wrap,
  .form-wrap {
    width: 100%;
  }
  .todo-text {
    width: 40%;
  }
}
@media (max-width: 190px) {
  .list-wrap,
  .form-wrap {
    width: 100%;
  }
  .todo-text {
    width: 30%;
  }
  .todo-list {
    padding: 8px 5px !important;
  }
}
